---
import BlogPostPreview from '#components/BlogPostPreview.astro';
import BaseLayout from '#layouts/BaseLayout.astro';

import { SITE_DESCRIPTION, SITE_TITLE } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/**/*.{md,mdx}'))
  .filter((post) => new Date(post.frontmatter.publishedDate) <= new Date())
  .sort(
    (a, b) =>
      new Date(b.frontmatter.publishedDate).getTime() -
      new Date(a.frontmatter.publishedDate).getTime()
  );
---

<BaseLayout content={{ title: SITE_TITLE, description: SITE_DESCRIPTION }}>
  {
    posts.length && (
      <>
        <h2>Articles</h2>

        <div class="flex flex-col gap-10">
          {posts.map((post) => (
            <BlogPostPreview post={post} />
          ))}
        </div>
      </>
    )
  }
</BaseLayout>
