---
import { GITHUB, TWITTER } from '../config';
import HeaderLink from './HeaderLink.astro';

const pages = [
  { name: 'home', href: '/' },
  { name: 'blog', href: '/blog' },
];
---

<header class="p-4 mx-auto w-full max-w-4xl md:p-6">
  <nav class="flex flex-1 justify-between font-bold">
    <div class="flex gap-1">
      {
        pages.map((page) => (
          <HeaderLink href={page.href}>{page.name}</HeaderLink>
        ))
      }
    </div>

    <div>
      <HeaderLink href={`${TWITTER}/philstainer`} target="_blank"
        >twitter</HeaderLink
      >
      <HeaderLink href={`${GITHUB}/philstainer`} target="_blank"
        >github</HeaderLink
      >
    </div>
  </nav>
</header>

<style>

</style>
