---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname;
---

<a
  href={href}
  class:list={[
    className,
    'p-2 hover:text-sky-400 dark:hover:text-sky-500',
    isActive ? 'text-sky-500' : 'dark:text-slate-50',
  ]}
  {...props}>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
